name: Build packages

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: true

jobs:

  build:

    name: Build packages
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: |
          cd build
          docker build . --tag fpm --file fpm.Dockerfile

      - name: Bundle packages
        run: |
          cd build
          docker run --tty \
            -v ${PWD}:/root/build \
            fpm /bin/bash -c "./fpm.sh ${{ github.event.inputs.tag }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: build/dist/*
